.wrapper-findUser{
   margin: 20px;
   display: grid;
   color:aqua;
   justify-items: start;

   .user-find{
      display: flex;
      margin: 0px 0px 20px;
   }

   .wrapper-user{
      min-width: 500px;
      display: grid;
   }
   .ava-find{
      width: 70px;
      height: 70px;
      border-radius: 50%;
      cursor: pointer;
   }
   button{

      width: 100px;
      height: 30px;
      text-align: center;
      cursor: pointer;
   }
   .ava-subscribe{
      display: flex;
      flex-direction: column;
   }
 
   .info-user{
      width: 100%;
      margin: 0px 0px 20px 20px;
      border-radius: 5px;
      border: 2px black solid;
      
   }
}