.dialogs-wrapper{
   height: 100%;
   display: grid;
   grid-template-columns: minmax(200px,2fr) 6fr;

   textarea{
      margin: 20px;
      border-radius: 4px;
   }
}

.dialogs{
   text-align: center;
   padding: 20px;
}
.user-dialogs{
   display: flex;
   align-items: center;
   padding-top: 10px;
   text-align: center;
   a{
      padding-left: 20px;
   }
}

.avaMessage{
height: 60px;
width: 60px;
border-radius: 50%;
}

.sendMessage{
   display: flex;
   align-items: flex-end;

   button{
      margin: 0px 20px 20px 0px;
      width: 70px;
      height: 30px;

   }
}
.message{
  display: grid;
  margin: 20px;
  color: black;
}
.user{
  display: flex;
  justify-content: flex-end;
}
.companion{
  display: flex;
  justify-content: flex-start;
  
}
.massage-container{
  max-width: 90%;
  background-color:aqua;
  border-radius: 3px;
}
