.message{
   display: grid;
   margin: 20px;
   color: black;
}
.user{
   display: flex;
   justify-content: flex-end;
}
.companion{
   display: flex;
   justify-content: flex-start;
   
}
.massage-container{
   max-width: 90%;
   background-color:aqua;
   border-radius: 3px;
}