/*Обнуление*/
*,
*:before,
*:after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}
html,
body {
	height: 100vh;
	background-color: #ffffff;
	color: #1A2027;
	font-size: 16px;
	line-height: 24px;
}
a {
   text-decoration: none;
	color: #1a1717;
}
h1 {
	font-size: 40px;
	line-height: 1;
	margin: 0px 0px 50px 0px;
}
h2 {
	font-size: 30px;
	line-height: 1;
	margin: 0px 0px 20px 0px;
}
ul {
	list-style: none;
}
/* ================ */
.Wrapper{
   
   min-height: 100vh;
   display: grid;
   grid-template: minmax(70px, auto) 1fr minmax(50px, auto) / 170px 1fr;
   gap: 0px;
   grid-template-areas: 
                        "Header Header"
                        "navbar main"
                        "navbar footer"; 

}
.Header{
position:sticky;
top:0px;
grid-area: Header;
z-index: 10;

}

.navbar{
   
   display: flex;
   flex-direction: column;
   position: fixed;
   top: 70px;
   max-height: 80vh;
   background-color: rgb(255, 255, 255);
   grid-area: navbar;
   padding: 20px 5px 20px 10 px;
   color: black;
   border-radius: 4px;
}

@media screen and (max-width: 700px) {
   .navbar{
      transform: translateX(-100%);
      z-index: 10;
      &.active{
         transform: translateX(0%)
      }
   } 
   .Wrapper{
      grid-template: minmax(70px, auto) 1fr minmax(50px, auto) / 1fr;
      gap: 0px;
      grid-template-areas: 
                           "Header"
                           "main"
                           "footer"; 
   
   }
   
}
.main-container{
   background-color: #ffffff;
   position: relative;
   grid-area: main;
   background-color: rgba(239, 238, 238, 0.7);
   border-radius: 4px;
   display: flex;
   justify-content: center;
}

.footer{
   grid-area: footer;
   background-color: rgba(255, 255, 255, 0.7);
   border-radius: 4px;
   text-align: center;
}
