/*Обнуление*/
*,
*:before,
*:after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}
html,
body {
	height: 100vh;
	background-color: #efefef;
	color: #1A2027;
	font-size: 16px;
	line-height: 24px;
}
a {
	color: #1a1717;
}
h1 {
	font-size: 40px;
	line-height: 1;
	margin: 0px 0px 50px 0px;
}
h2 {
	font-size: 30px;
	line-height: 1;
	margin: 0px 0px 20px 0px;
}
ul {
	list-style: none;
}
/* ================ */
.Wrapper{
   
   min-height: 100vh;
   display: grid;
   grid-template: minmax(100px, auto) 1fr minmax(50px, auto) / 170px 1fr;
   gap: 0px;
   grid-template-areas: 
                        "Header Header"
                        "navbar main"
                        "footer footer"; 

}
.Header{
// width: 100vh;
height: 10vh;
position:sticky;
top:0px;
background-color: rgb(255, 255, 255, 0.7);
grid-area: Header;
border-radius: 4px;
}
.navbar{
   position: sticky;
   top: 10vh;
   background-color: rgb(255, 255, 255);
   grid-area: navbar;
   padding: 20px;
   color: black;
   border-radius: 4px;
   height: 90vh;
}
.main{
   grid-area: main;
   margin: 0px auto;
   width: 800px;
   background-color: rgb(255, 255, 255, 0.7);
   border-radius: 4px;

}

.footer{
   margin: 0px auto;
   width: 800px;
   grid-area: footer;
background-color: rgba(255, 255, 255, 0.7);
border-radius: 4px;
}
